body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  overflow: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100% - 32px);
  overflow: hidden;
  position: relative;
}

.main .list .item {
  position: relative;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  z-index: 2;
  text-decoration: none;
  -webkit-transition: -webkit-filter 0.32s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-filter 0.32s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: filter 0.32s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: filter 0.32s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-filter 0.32s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.main .list .item * {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main .list .item .inner {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .list .item .inner .tt h2 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  color: #7070ff;
  -webkit-transition: color 0.32s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.42s;
  transition: color 0.32s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.42s;
}

.main .list .item .inner .tt .img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.main .list .item .inner .tt .img img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  -webkit-transition: -webkit-transform 0.42s ease-out, -webkit-filter 0.4s ease-in-out;
  transition: -webkit-transform 0.42s ease-out, -webkit-filter 0.4s ease-in-out;
  transition: transform 0.42s ease-out, filter 0.4s ease-in-out;
  transition: transform 0.42s ease-out, filter 0.4s ease-in-out, -webkit-transform 0.42s ease-out, -webkit-filter 0.4s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.main .list .item .inner .desc {
  text-align: center;
  word-break: break-all;
  max-width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.main .list .item:hover {
  -webkit-filter: blur(0) grayscale(0) !important;
          filter: blur(0) grayscale(0) !important;
}

.main .list .item:hover .inner .tt h2 {
  color: navy;
}

.main .list .item:hover .inner .tt .img img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.main .list .bar {
  height: 10px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 2px;
  z-index: 1;
  -webkit-transition: left 0.2s cubic-bezier(0.6, 0.3, 0.735, 0.045), height 0.23s ease-out 0.36s, background-color 0.1s ease-in;
  transition: left 0.2s cubic-bezier(0.6, 0.3, 0.735, 0.045), height 0.23s ease-out 0.36s, background-color 0.1s ease-in;
}

.main .list .bar.active {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.main .list:hover {
  cursor: pointer;
}

.main .list:hover .item {
  -webkit-filter: blur(3px) grayscale(0.9);
          filter: blur(3px) grayscale(0.9);
}

.main .list:hover .bar {
  -webkit-filter: blur(0);
          filter: blur(0);
}

footer {
  height: 32px;
  background-color: navy;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #7070ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
}

footer a {
  color: #7070ff;
}

footer strong {
  font-weight: bold;
  color: white;
}
/*# sourceMappingURL=main.css.map */